* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #0F0F0F;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    width: 100%;
    height: 120px;
}

.half-dot {
    width: 70px;
    height: 70px;
    border-bottom: 2px dashed #404040;
    border-right: 2px dashed #404040;
    margin: 15px 0 0 20px;
}

.half-dot-rev {
    width: 70px;
    height: 70px;
    border-bottom: 2px dashed #404040;
    border-left: 2px dashed #404040;
    margin: 15px 20px 0 0;
}

.buttons{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 35px 20px 30px 0;
    width: 100%;
    border-bottom: 2px dashed #40404050;
}

.logo {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}

.dot-color {
    color: #B8A893;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px dashed #404040;
    color: #B3B3B2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.selected {
    background-color: #1A1A1A;
    color: white;
    border: none;
}


.btn-diff {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #AE9B84;
    color: #0F0F0F;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.btn-cart {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: #1A1A1A;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.left {
    margin-left: 30px;
    display: flex;
    gap: 20px;
}


.right {
    margin-right: 20px;
    display: flex;
    gap: 15px;
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hero {
    margin-top: 30px;
    display: grid;
    width: 84%;
    height: 950px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 2fr 1.5fr 1.5fr;
    border-radius: 20px;
    border: 2px dashed #404040;
    overflow: hidden;
}

.imgg {
    position: relative;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}

.img-pos {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-pos {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    
    border-radius: 12px;
    border: 2px dashed #404040;
    width: 130px;
    height: 63px;
    font-size: 17px;
    font-weight: 500;
    background-color: #1F1F1F;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.choices {
    grid-column: 1/3;
    grid-row: 3/5;
    border-right: 2px dashed #404040;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cat-btn {
    padding: 15px 20px;
    border: 2px dashed #404040;
    border-radius: 12px;
    background-color: transparent;
    color: #B3B3B2;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.hero-title {
    font-size: 38px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.hero-desc {
    width: 90%;
    font-size: 15px;
    font-weight: 400;
    color: #676665;
}

.pos-one {
    border-right: 2px dashed #404040;
    border-bottom: 2px dashed #404040;
}

.pos-two {
    border-bottom: 2px dashed #404040;
}

.pos-three {
    border-right: 2px dashed #404040;
}

.hero-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.stat {
    font-size: 40px;
    font-weight: 500;
}

.stat-desc {
    font-size: 14px;
    color: #81807E;
    font-weight: 400;
}
